body {
    background-color: #202124;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    height: 5vh;
    font-family: arial,sans-serif;
    font-size: 13px;
    color: white;
}

.header-margins {
    padding-left: 10px;
    padding-right: 10px;
}
.header-font{
    text-decoration: none;
    color: white;
}

.header-apps-icon {
    width: 24px;
    height: 24px;
    fill:  #bdc1c6;

margin-left: 10px;
}
.header-image{
    border-radius: 50%;
    height: 32px;
    width: 32px;
    border: 0;
    padding: 20px;
}
main {
    height: 85vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#logo{
    margin-bottom: 20px;
}

.main-text{
    color: #bdc1c6;
    font-family: arial,sans-serif;
    font-size: 13px;
    margin-bottom: 15vh;
}
.main-links{
    color: #8ab4f8;
    padding-left: 3px;
}

.buttons-text-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 39px;
    background: #202124;
    border: 1px solid #5f6368;
    box-shadow: none;
    border-radius: 24px;
    padding: 5px 8px 0 14px;
    width: 558px;
    justify-content: space-around;
    margin-bottom: 20px;
}

.main-svg-search {
    height: 20px;
    width: 20px;
    fill: #9aa0a6;
}

.main-svg {
    height: 24px;
    width: 24px;
}

#input-search{
    resize: none;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: #e8eaed;
    outline: none;
    display: flex;
    width: 450px;
}

.main-buttons-container{
    display: flex;
    width: auto;
    height: 36px;
    margin-bottom: 20px;
}

.btn-search {
    display: flex;
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    min-width: 54px;
    cursor: pointer;
    height: 36px;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: arial,sans-serif;
    color: #9aa0a6;
    font-size: 14px;
    height: 10vh;
}

.footer-align-left{
    flex-direction: row;
    justify-content: flex-start;
}
.footer-align-rigth{
    justify-content: flex-end;
}

.footer-links-position{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: #171717;
}
.country-section {
    padding-left: 20px;
    background-color: #171717;
    border-bottom: 1px #3c4043 solid;
}

.footer-link {
    padding-left: 20px;
    margin-right: 10px; 
    text-decoration: none;
    color: #9aa0a6;
}

/* PSEUDO CLASES */

.buttons-text-field:hover {
    background-color: #303134;
}

#search:hover {
    outline: 1px solid #5f6368;
}
#lucky:hover {
    outline: 1px solid #5f6368;
}
